<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.egmvc1.mapper.AddressMapper">
    <insert id="insertAddress">
        INSERT INTO mvcdb.address(id,receiver,address,email,mobile,tag)
        VALUES (null,#{receiver},#{address},#{email},#{mobile},#{tag})
    </insert>

    <select id="selectById" resultType="cn.tedu.egmvc1.pojo.entity.Address">
        SELECT id,
               receiver,
               address,
               email,
               mobile,
               tag
        FROM mvcdb.address
        WHERE id = #{id}
    </select>
</mapper>
