<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间,填写 UserMapper 接口的完整路径-->
<mapper namespace="cn.tedu._02mybatis.mapper.UserMapper">
    <!--在user表中插入1条数据-->
    <!--格式化SQL语句: Ctrl + Shift + l-->
    <insert id="insert">
        INSERT INTO user(username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, #{created})
    </insert>
</mapper>
