<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._02mybatis.mapper.WeiboMapper">
    <!--向weibo表中插入数据-->
    <insert id="insertWeibo">
        INSERT INTO weibo(content,created,user_id) VALUES (#{content},#{created},#{userId});
    </insert>


    <delete id="deleteWeiboById">
        DELETE
        FROM blog.weibo
        WHERE id = #{id};
    </delete>



    <update id="updateWeiboById">
        UPDATE blog.weibo
        SET content=#{content},
            created=#{created},
            user_id=#{userId}
        WHERE id = #{id};
    </update>


<!--指定返回结果的封装类型-->
    <select id="selectWeiboById" resultType="cn.tedu._02mybatis.pojo.Weibo">
        SELECT id, content, created, user_id userId
        FROM blog.weibo
        WHERE id = #{id};
    </select>


    <select id="selectWeiboByUserId" resultType="cn.tedu._02mybatis.pojo.Weibo">
        SELECT id, content, created, user_id userId
        FROM blog.weibo
        WHERE user_id = #{uid};
    </select>


    <select id="selectWeiboById2" resultType="cn.tedu._02mybatis.pojo.WeiboIndexVO">
        SELECT content, created
        FROM blog.weibo
        WHERE id = #{id};
    </select>




    <select id="selectWeiBoAll" resultType="cn.tedu._02mybatis.pojo.WeiBoVO">
        SELECT id, content, created
        FROM weibo;
    </select>

</mapper>
