<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._02mybatis.mapper.WeiboMapper">
<!--向weibo表中插入数据-->
    <insert id="insertWeiBo">
        INSERT INTO 
    </insert>
</mapper>
