<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._03mvcboot02.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO user(username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, #{created})
    </insert>

    <select id="selectUser" resultType="cn.tedu._03mvcboot02.pojo.vo.UserListVO">
        SELECT username, password
        FROM blog.user
    </select>

    <delete id="deleteUser">
        DELETE FROM blog.user
        WHERE id = #{id}
    </delete>

    <update id="updateUser">
        UPDATE blog.user
        <set>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="nickname!=null">nickname=#{nickname}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="cn.tedu._03mvcboot02.pojo.vo.UserListVO">
        SELECT username, password
        FROM blog.user
        WHERE id = #{id}
    </select>

</mapper>








